* {
  box-sizing: border-box;
}

.friend {
  margin: -2rem auto 0 auto;
}

.app {
  height: auto;
  padding: 0 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Space Mono", sans-serif;
}

@media screen and (max-width: 850px) {
  .app {
    flex-direction: column;
    justify-content: center;
  }
}